.main{
    height: 700px;
}
.head{
    background-color: coral;
    border: 1px solid black;
    height: 175px;
}
.caption{
    text-decoration: underline;
}
.body-content{
    background-color:cornflowerblue;
    height: 520px;
    border: 1px solid black;
}
